streamlit
pypdf
pandas
numpy
plotly
onnxruntime
unstructured[all-docs]
unstructured
pillow
pi-heif 
pdfminer.six
langchain
langchain-community
sentence-transformers
rapidocr-onnxruntime
langchain-openai
langchain-google-genai
langchain-experimental
langchain-chroma
chromadb==0.4.0
langchain-cohere
pysqlite3-binary
openai
requests
scikit-learn
umap-learn
pacmap
matplotlib
seaborn
graphviz
rank_bm25
datashader
wordcloud
validators
extra-streamlit-components
streamlit-option-menu
protobuf==3.20.3