protobuf==3.20.3
pysqlite3-binary
chromadb 
langchain-chroma
streamlit
pandas
numpy
plotly
pillow
langchain
rapidocr-onnxruntime
langchain-community
langchain-openai
langchain-experimental
langchain-cohere
openai
requests
scikit-learn
umap-learn
pacmap
matplotlib
graphviz
validators
streamlit-option-menu