streamlit
pypdf
pandas
numpy
plotly
onnxruntime
unstructured[all-docs]
unstructured
pillow
pi-heif 
pdfminer.six
langchain
langchain-community
sentence-transformers
rapidocr-onnxruntime
langchain-openai
langchain-experimental
langchain-chroma
chromadb
pysqlite3-binary
langchain-cohere
openai
requests
scikit-learn
umap-learn
pacmap
matplotlib
seaborn
graphviz
datashader
wordcloud
validators
extra-streamlit-components
streamlit-option-menu
protobuf==3.20.3